.banner {
  width: 100%;
  background: url(../../assets/discount.jpg);
  background-size: contain;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  padding: 40px 15px;
  /* animation: tada 1s infinite; */
}

.big-text {
  font-size: 100px;
  font-weight: 800;
  animation-delay: 1s;
}

.banner a {
  display: inline-block;
  background: #ffffff;
  color: #272727;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 10px;
}

.banner a:hover {
  background: #030303;
  color: #ffffff;
  padding: 15px 20px;
}

/* Animation for tada effect */
/* @keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
} */
